version: 2.1

jobs:
  build:
    docker:
      - image: cimg/base:2023.03
    steps:
      - checkout
      - run: echo "this is the build job"

  test:
    docker:
      - image: cimg/python:3.10
    environment:
      EDGE_DELTA_HTTP_URL=https://caaecd16-2026-460e-8501-9e6563a1b2cf-http-us-west2-cf.aws.edgedelta.com


    steps:
      - checkout

      - run:
          name: Run a simple test
          command: |
            echo "running example test"
            TEST_STATUS="passed"
            echo $TEST_STATUS > test_status.txt

      # *** The ONLY payload step you need ***
      - run:
          name: Send test logs to Edge Delta
          command: |
            for i in {1..30}; do
            echo "sending event $i"
            curl -s -X POST "$EDGE_DELTA_HTTP_URL" \
              -H "Content-Type: application/json" \
              -d "{\"message\":\"CircleCI event #$i\",\"job\":\"test\",\"status\":\"ok\",\"i\":$i,\"timestamp\":\"$(date -u +%FT%TZ)\"}"
            done


workflows:
  build_and_test:
    jobs:
      - build
      - test
