version: 2.1

# Define the jobs we want to run for this project
jobs:
  build:
    docker:
      - image: cimg/base:2023.03
    steps:
      - checkout
      - run: echo "this is the build job"
  test:
    docker:
      - image: cimg/python:3.10
    environment:
      EDGE_DELTA_HTTP_URL: "http://caaecd16-2026-460e-8501-9e6563a1b2cf-http-us-west2-cf.aws.edgedelta.com"
    steps:
      - checkout

      - run:
          name: Run a simple test
          command: |
            echo "running example test"
            # simulate a pass/fail toggle
            TEST_STATUS="passed"
            echo $TEST_STATUS > test_status.txt

      - run:
          name: Build JSON payload for Edge Delta
          command: |
            cat > build_payload.py \<< 'EOF'
      
      - run:
          name: Send payload to Edge Delta
          command: |
            curl -X POST \
            -H "Content-Type: application/json" \
            -d @build_payload.py \
            "http://caaecd16-2026-460e-8501-9e6563a1b2cf-http-us-west2-cf.aws.edgedelta.com"


# Orchestrate our job run sequence
workflows:
  build_and_test:
    jobs:
      - build
      - test