version: 2.1

jobs:
  build:
    docker:
      - image: cimg/base:2023.03
    steps:
      - checkout
      - run: echo "this is the build job"

  test:
    docker:
      - image: cimg/python:3.10
    environment:
      EDGE_DELTA_HTTP_URL: "https://caaecd16-2026-460e-8501-9e6563a1b2cf-http-us-west2-cf.aws.edgedelta.com"
    steps:
      - checkout

      - run:
          name: Run a simple test
          command: |
            echo "running example test"
            TEST_STATUS="passed"
            echo $TEST_STATUS > test_status.txt

      # *** The ONLY payload step you need ***
      - run:
          name: Test sending a simple event to Edge Delta
          command: |
            echo '{"message":"CircleCI test event","status":"ok","timestamp":"'$(date -u +%FT%TZ)'"}' > test.json
            cat test.json
            curl -v -X POST \
              -H "Content-Type: application/json" \
              -d @test.json \
              "$EDGE_DELTA_HTTP_URL"

workflows:
  build_and_test:
    jobs:
      - build
      - test
